@{
    ViewData["Title"] = "UserHome";
}

<h1>User Dashboard</h1>
<br>
<p>
    <a class="btn btn-primary" asp-action="SearchFlights">Create New Booking</a>
</p>
<br>
<p>
    <a class="btn btn-primary" asp-action="ShowMyBookings">Show My Bookings</a>
</p>